<?xml version="1.0"?>

<launch>
  <arg name="frontend" default="false"/>
  <arg name="backend" default="true"/>

  <!-- Backend -->
  <group if="$(arg backend)">
    <!-- RPLidar -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- Hector Slam -->
    <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

    <param name="/use_sim_time" value="false"/>

    <include file="$(find pluto_slam)/launch/mapping_default.launch"/>

    <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
      <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
      <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
    </include>

   <!-- Pluto Robot description -->
   <include file="$(find pluto_description)/launch/show_pluto.launch" >
     <arg name="gui" value="false"/>
   </include>

    <!-- Pluto Motors Driver -->
    <include file="$(find pluto_motors_driver)/launch/diff_drive_node.launch" >
      <arg name="gui" value="false"/>
    </include>
  </group>

  <!-- Frontend -->
  <node if="$(arg frontend)" pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>

</launch>

