<?xml version="1.0"?>
<launch>
  <rosparam file="$(find pluto_motors_driver)/config/controller_config.yaml" command="load"/>

  <!-- load robot description -->
  <param name="robot_description"
     command="$(find xacro)/xacro --inorder '$(find pluto_description)/urdf/rrbot.xacro'" />

  <!-- Load hardware interface TODO :use URDF to do this-->
  <node ns="/pluto_motors" name="pluto_hardware_interface" pkg="pluto_motors_driver" type="node" output="screen" >
  </node>

  <!-- spawn controller manager -->
  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/pluto_motors" args="joint_state_controller joint1_position_controller" />

  <!-- load other controller --> 
  <!--<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load vel_controller" />-->

  <!-- Convert joint states to /tf tranforms -->
<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>-->

</launch>

