<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true" />
  <param name="robot_description" textfile="$(find pluto_description)/urdf/pluto.urdf" />  

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pluto_description)/rviz/config.rviz" required="true"/>
</launch>
