<?xml version="1.0"?>
<launch>
  <arg name="nav" default="true"/>
  <arg name="cam" default="true"/>

  <!-- Pluto Motors Driver -->
  <include file="$(find pluto_motors_driver)/launch/diff_drive_node.launch" />

  <!-- RPLidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

  <!-- Realsense -->
  <include if="$(arg cam)" file="$(find pluto_launch)/launch/realsense.launch"/>

  <!-- Navigation -->
  <include if="$(arg nav)" file="$(find pluto_2dnav)/launch/move_base.launch"/>

</launch>

