<?xml version="1.0"?>
<launch>

<include file="$(find realsense2_camera)/launch/rs_camera.launch">
<!-- NOT WORKING  <param name="depth_optical_frame_id" value="camera_color_optical_frame"/>-->
  <arg name="align_depth" value="true"/>
  <arg name="filters" value="pointcloud"/>
<!--  <arg name="color_height" value="240"/>
  <arg name="color_width" value="320"/>
  <arg name="depth_height" value="240"/>
  <arg name="depth_width" value="320"/>
  <arg name="confidence_height" value="240"/>
  <arg name="confidence_width" value="320"/>-->  

  <arg name="fisheye_fps"         value="6"/>
  <arg name="depth_fps"           value="6"/>
  <arg name="infra_fps"           value="6"/>
  <arg name="color_fps"           value="6"/>
  <arg name="gyro_fps"            value="400"/>
  <arg name="accel_fps"           value="250"/>
  <arg name="enable_gyro"         value="false"/>
  <arg name="enable_accel"        value="false"/>

</include>

</launch>
