<?xml version="1.0"?>
<launch>

<include file="$(find realsense2_camera)/launch/rs_camera.launch">
<!-- NOT WORKING  <param name="depth_optical_frame_id" value="camera_color_optical_frame"/>-->
  <arg name="align_depth" value="true"/>
  <arg name="filters" value="pointcloud"/>
<!--  <arg name="color_height" value="240"/>
  <arg name="color_width" value="320"/>
  <arg name="depth_height" value="240"/>
  <arg name="depth_width" value="320"/>
  <arg name="confidence_height" value="240"/>
  <arg name="confidence_width" value="320"/>-->
</include>

 <!-- Nodelet manager for this pipeline -->
<node pkg="nodelet" type="nodelet" args="manager" name="depth_transforms_manager" output="screen"/>

</launch>
